# Ignore node_modules directory
node_modules/

# Ignore npm-debug.log file
npm-debug.log

# Ignore .env file which contains sensitive information
.env

# Ignore files generated during development or build process
# For example:
# /dist/
# /build/
# /coverage/
# /logs/
# /temp/

# Ignore OS or editor-specific files
# For example:
# .DS_Store
# .vscode/
# .idea/
# Thumbs.db

# Ignore logs and temporary files
*.log
*.tmp

# Ignore dependencies that are manually installed
# This is useful for projects where dependencies are manually installed instead of using npm or yarn
# /vendor/
